<ion-content class="bg_color">
	<div class="container d-flex">
		<div class="back_btn">
			<ion-buttons slot="start">
				<ion-back-button text="" defaultHref=“home”></ion-back-button>
			</ion-buttons>
		</div>

		<div class="item_details_container end">
			<div>
				<ion-grid>
					<ion-row>
						<ion-col size="12" size-lg="6" size-md="6" size-sm="6" style="padding-bottom: 0;">
							<div class="item-info">
								<ion-card>
									<ion-slides pager="true">
										<ion-slide>
											<div class="img_box center_img">
												<img src="assets/images/1.png" class="crop_img">
											</div>
										</ion-slide>
										<ion-slide>
											<div class="img_box center_img">
												<img src="assets/images/1.png" class="crop_img">
											</div>
										</ion-slide>
										<ion-slide>
											<div class="img_box center_img">
												<img src="assets/images/1.png" class="crop_img">
											</div>
										</ion-slide>
										<ion-slide>
											<div class="img_box center_img">
												<img src="assets/images/1.png" class="crop_img">
											</div>
										</ion-slide>
									</ion-slides>
									<div class="text_box">
										<h1>{{itemInfo.name}}</h1>
										<h3 class="d-flex"><span>{{itemInfo.type}}</span> <span
												class="end">${{itemInfo.price}}</span></h3>
									</div>
									<div class="text_box">
									<ion-card size="12" size-lg="6" size-md="6" size-sm="6" style="padding-bottom: 0;">
										<h2>{{'description'}}</h2>
										<p>
						  					{{itemInfo.description}}
										</p>
									</ion-card>
								</div>
								<div class="text_box">
								<ion-card class="ingredients">
									<h2>{{'Ingredients'}}</h2>
									<p *ngFor="let ing of itemInfo.ingredients; index as i">
										<span>{{ing}}</span>
									</p>
								</ion-card>
								</div>
								<ion-button size="large" class="btn" (click)="addToCart(itemInfo)">Ajouter</ion-button>
									<ion-list lines="none" *ngIf="itemInfo.options != null">
										<h2>{{'add_options'}}</h2>
										<ion-item>
											<ion-checkbox slot="start"></ion-checkbox>
											<ion-label>
												<h4 class="d-flex">Extra Cheese <span class="end">$5.00</span></h4>
											</ion-label>
										</ion-item>
										<ion-item>
											<ion-checkbox slot="start"></ion-checkbox>
											<ion-label>
												<h4 class="d-flex">Extra Honey <span class="end">$3.00</span></h4>
											</ion-label>
										</ion-item>
										<ion-item>
											<ion-checkbox slot="start"></ion-checkbox>
											<ion-label>
												<h4 class="d-flex">Extra Mayonnaise <span class="end">$4.00</span></h4>
											</ion-label>
										</ion-item>
										<ion-item>
											<ion-checkbox slot="start"></ion-checkbox>
											<ion-label>
												<h4 class="d-flex">Extra Sugar <span class="end">$2.00</span></h4>
											</ion-label>
										</ion-item>
									</ion-list>

								</ion-card>
							</div>
						</ion-col>
						<ion-col size="12" size-lg="6" size-md="6" size-sm="6" style="padding-bottom: 0;">
							<ion-card class="video" *ngIf="itemInfo.vid != null">
								<div class="video_img center_img">
									<img src="assets/images/video_thum.png" class="crop_img">
								</div>
								<div class="video_text">
									<h3>Know How We cook it.</h3>
									<h4>3 min video</h4>
								</div>
								<div class="play_icon">
									<img src="assets/images/play_button.png">
								</div>
							</ion-card>

							<div class="info">
								<ion-grid>
									<ion-row>
										<ion-col size="12" size-lg="4" size-md="4" size-sm="12">
											<ion-card>
												<div class="icon_box ion-text-center">
													<img src="assets/images/ic_Serving.png">
												</div>
												<h2 class="ion-text-center">{{'pour'}}</h2>
												<h3>{{itemInfo.serving}} personnes</h3>
											</ion-card>
										</ion-col>
										<ion-col size="12" size-lg="4" size-md="4" size-sm="12">
											<ion-card>
												<div class="icon_box ion-text-center">
													<img src="assets/images/ic_cooktime.png">
												</div>
												<h2 class="ion-text-center">{{'Temps de préparation'}}</h2>
												<h3>{{itemInfo.cooking}} mins</h3>
											</ion-card>
										</ion-col>
										<ion-col size="12" size-lg="4" size-md="4" size-sm="12">
											<ion-card>
												<div class="icon_box ion-text-center">
													<img src="assets/images/ic_energy.png">
												</div>
												<h2 class="ion-text-center">{{'Apport en calories'}}</h2>
												<h3>{{itemInfo.energy}} kcal.</h3>
											</ion-card>
										</ion-col>
									</ion-row>
								</ion-grid>
							</div>
						</ion-col>
					</ion-row>
				</ion-grid>
			</div>
		</div>
	</div>
</ion-content>
