<!-- <ion-header>
	<ion-toolbar> -->
		<!-- <ion-title>
			<div class="d-flex">
				<div class="logo">
					<img src="assets/images/logo.png">
				</div>
				<div class="end"> -->
					<!-- <div class="search_box d-flex">
						<ion-icon class="zmdi zmdi-search ion-text-center"></ion-icon>
						<ion-searchbar class="ion-no-padding" searchIcon="hide"
							placeholder="{{'Rechercher...'}}"></ion-searchbar>
					</div> -->

            <!-- <ion-fab vertical="top" horizontal="end" slot="fixed">
              <ion-fab-button color="transparent" [disabled]="cartItemCount.value < 1" (click)="openCart()" #cart>
                <h5 class="ion-text-center">
            <ion-icon name="cart-outline"></ion-icon>
            <ion-badge>{{cartItemCount | async}}</ion-badge>
			<ion-menu-button menu="cart-menu"></ion-menu-button>
          </h5>
          </ion-fab-button>
          </ion-fab> -->
<!-- 		  
				</div>
			</div>
		</ion-title> -->
		<!-- <ion-buttons slot="start">
			<ion-menu-button menu="cart-menu"></ion-menu-button>
		  </ion-buttons> -->
	<!-- </ion-toolbar>
</ion-header> -->
<ion-header>
	<ion-toolbar>
		<ion-title>
			<div class="d-flex">
			<div class="logo">
				<img src="assets/images/logo.png">
			</div>
			</div>
		</ion-title>
		<ion-buttons slot="end">
			<ion-menu-button menu="cart-menu" [disabled]="cartItemCount.value < 1">
				<!-- <ion-fab vertical="top" horizontal="end" slot="fixed">
					<ion-fab-button color="transparent" [disabled]="cartItemCount.value < 1" #cart>
					  <h5 class="ion-text-center">
				  <ion-icon name="cart-outline"></ion-icon>
				  <ion-badge>{{cartItemCount | async}}</ion-badge>
				</h5>
				</ion-fab-button>
				</ion-fab> -->
				<ion-icon name="cart-outline"></ion-icon>
				<ion-badge>{{cartItemCount | async}}</ion-badge>
			</ion-menu-button>
		  </ion-buttons>
	</ion-toolbar>
</ion-header>
<ion-content class="bg_color">
	<div class="container d-flex">
		<div class="tab_btn_container">
			<ion-segment [(ngModel)]="type" lines="none">
				<ion-segment-button *ngFor="let type of types; index as i" value={{type}}>
					<div class="img_box">
						<img src="assets/images/ic_{{type}}.png">
					</div>
					<ion-label>
						{{type}}
					</ion-label>
				</ion-segment-button>
			</ion-segment>
		</div>

		<div class="tab_container end" [ngSwitch]="type">
			<div *ngFor="let type of types">
			<div class="item_container" *ngSwitchCase="type">
				<ion-grid style="padding: 0 !important;">
					<ion-row>
            <ion-col *ngFor="let item of items; index as i"  size="12" size-lg="3" size-md="4" size-sm="6">
				<div *ngIf="item.typeName == type">
              <div class="item" *ngIf="item.amount == 0 || item.amount == null" (click)="item_detail(item)">
                <div class="item_img center_img">
                  <img src="{{item.img}}" class="crop_img">
                </div>
                <div class="text_box" >
									<h2>{{item.name}}</h2>
									<h3>${{item.price}}</h3>
								</div>
              </div>
			  <div class="item active" *ngIf="item.amount >= 1">
				  <div (click)="item_detail(item)">
					<div class="item_img center_img">
						<img src="{{item.img}}" class="crop_img">
					  </div>
					  <div class="text_box">
						<h2>{{item.name}}</h2>
						<h3>${{item.price}}</h3>
					</div>
				  </div>
								<div class="option d-flex">
									<ion-button size="small" fill="clear" (click)="decreaseFromCart(item)">
										<ion-icon slot="icon-only" name="remove-outline"></ion-icon>
									</ion-button>
									<ion-button size="small" fill="clear" (click)="addToCart(item)">
										<ion-icon name="add-outline"></ion-icon>
									</ion-button>
									<h5 class="end">{{item.amount}}</h5>
								</div>
              </div>
			</div>
            </ion-col>
          </ion-row>
				</ion-grid>
			</div>
		</div>
		</div>
	</div>



	<!--Cart  Start-->
  <!-- <app-cart [item]="currentItem"></app-cart> -->
  <!--Cart  End-->
</ion-content>
