<ion-content fullscreen>
	<div class="row d-flex">
		<ion-card class="ion-text-center">
      <div class="ion-text-end">
        <ion-button (click)="close()" fill="clear" color="white">
          <ion-icon name="close" slot="start" color="white"></ion-icon>
        </ion-button>
      </div>
			<!-- <h2>Mais c'est que,</h2> -->
			<h1>Vous avez<br>bon goût</h1>
			<div class="img_box">
				<img src="assets/images/order_confirmed.png">
			</div>
			<h2>Votre commande est confirmée avec</h2>
			<h3><img src="assets/images/logo.png"></h3>
			<h2>Et sera bientôt<br>prête </h2>
		</ion-card>
	</div>
</ion-content>
